{% extends 'tasks/layout.html' %}
{% block body %}
    <div class="row text-center">
        <h2>New task</h2>
        <div class="card">
            <div class="card-body m-auto w-50">
                <form action="{% url 'edit' task.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input 
                            type="text" 
                            name="title" 
                            id="title" 
                            class="form-control" 
                            placeholder="Enter the title"
                            minlength="6"
                            maxlength="50"
                            value="{{ task.title }}"
                            required
                        />
                    </div>

                    <div class="form-group mt-4">
                        <textarea 
                            class="form-control" 
                            placeholder="Enter your Message" 
                            name="description" 
                            id="description" 
                            required>{{ task.description }}</textarea>
                    </div>

                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-success w-100">Save</button>
                    </div>
                </form>
                <a href="/" class="mt-2 btn btn-primary w-100">Back</a>
            </div>
        </div>
    </div>
{% endblock %}